.top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60PX;
  align-items: center;
  .img {
    width: 20PX;
    height: 20PX;
  }
  .right {
    .img {
      margin-right: 8PX;
    }
  }
  .left {
    .img {
      margin-left: 15PX;
    }
  }
}